/build/
/target/
/out/
/out_tests/
/out_tests_tmp/
/renders/
/.vscode/*
!/.vscode/settings.json
/.settings/
/.classpath
/.project
/.idea/
*.iml
*.class
*.log
/hs_err_pid*.log
/replay_pid*.log
*.hprof
*.jfr
Thumbs.db
.DS_Store
/.comment_*.txt
/_javap_*.txt
/.venv/
